{% extends "base.html" %}

{% block title %}
My Problems | LeetTrack
{% endblock %}

{% block content %}

<main>

    <section class="dashboard-container">

        <div class="dashboard-header">

            <div>
                <h1>My Solved Problems</h1>
                <p>View and manage all your solved LeetCode problems.</p>
            </div>

            <div class="dashboard-buttons">

                <a href="{{ url_for('dashboard') }}" class="btn btn-danger">
                    Dashboard
                </a>

                <a href="{{ url_for('add_problem') }}" class="btn btn-cta">
                    + Add Problem
                </a>

            </div>

        </div>

        {% if problems %}

        <table class="problems-table">

            <thead>

                <tr>
                    <th>Title</th>
                    <th>Difficulty</th>
                    <th>Topic</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>

            </thead>

            <tbody>

                {% for problem in problems %}

                <tr>

                    <td>{{ problem.title }}</td>

                    <td>{{ problem.difficulty }}</td>

                    <td>{{ problem.topic }}</td>

                    <td>{{ problem.date_solved }}</td>

                    <td>{{ problem.time_taken }} min</td>

                    <td>

                        <a href="{{ url_for('edit_problem', problem_id=problem.id) }}" class="btn btn-primary">
                            Edit
                        </a>

                        <a href="{{ url_for('delete_problem', problem_id=problem.id) }}"
                        class="btn btn-danger">
                            Delete
                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

        {% else %}

        <div class="stat-card">

            <h2>No Problems Added Yet</h2>

            <p>
                Start tracking your coding journey by adding your first solved
                LeetCode problem.
            </p>

            <br>

            <a href="{{ url_for('add_problem') }}" class="btn btn-cta">
                Add Your First Problem
            </a>

        </div>

        {% endif %}

    </section>

</main>

{% endblock %}